<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ cspMeta() }}
    <link rel="shortcut icon" href="{{ assetsUrl('img/logo/favicon.png') }}" type="image/x-icon">
    <title>Cetak Kemasan Produk, Cetak Dus, Cetak Dus Murah, Cetak Dus Kemasan Surabaya</title>
    <link rel="canonical" href="https://qemas.my.id/" />
    <meta name="msvalidate.01" content="15824C564859760FA8A2906EFC2E5166" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ assetsUrl('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ assetsUrl('vendors/bootstrap-selector/css/bootstrap-select.min.css') }}">
    <!--icon font css-->
    <link rel="stylesheet" href="{{ assetsUrl('vendors/themify-icon/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ assetsUrl('vendors/elagent/style.css') }}">
    <link rel="stylesheet" href="{{ assetsUrl('vendors/flaticon/flaticon.css') }}">
    <link rel="stylesheet" href="{{ assetsUrl('vendors/animation/animate.css') }}">
    <link rel="stylesheet" href="{{ assetsUrl('vendors/owl-carousel/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ assetsUrl('vendors/magnify-pop/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ assetsUrl('vendors/nice-select/nice-select.css') }}">
    <link rel="stylesheet" href="{{ assetsUrl('vendors/scroll/jquery.mCustomScrollbar.min.css') }}">
    <link rel="stylesheet" href="{{ assetsUrl('css/style.css') }}">
    <link rel="stylesheet" href="{{ assetsUrl('css/responsive.css') }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72875803-6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-72875803-6');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-87Y1Q3V82P"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-87Y1Q3V82P');
    </script>
    @!section('style')
</head>

<body>
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="Q" class="letters-loading">
                        Q
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="M" class="letters-loading">
                        M
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="S" class="letters-loading">
                        S
                    </span>                    
                </div>
                <p class="text-center">Loading</p>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_wrapper">
        @include('theme.header')

        @!section('content')

        @include('theme.footer')
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ assetsUrl('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ assetsUrl('js/propper.js') }}"></script>
    <script src="{{ assetsUrl('js/bootstrap.min.js') }}"></script>
    <script src="{{ assetsUrl('vendors/bootstrap-selector/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ assetsUrl('vendors/wow/wow.min.js') }}"></script>
    <script src="{{ assetsUrl('vendors/sckroller/jquery.parallax-scroll.js') }}"></script>
    <script src="{{ assetsUrl('vendors/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ assetsUrl('vendors/nice-select/jquery.nice-select.min.js') }}"></script>
    <script src="{{ assetsUrl('vendors/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ assetsUrl('vendors/isotope/isotope-min.js') }}"></script>
    <script src="{{ assetsUrl('vendors/magnify-pop/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ assetsUrl('js/plugins.js') }}"></script>
    <script src="{{ assetsUrl('vendors/scroll/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    @!section('script')
    <script src="{{ assetsUrl('js/main.js') }}"></script>
</body>
</html>